<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <title>ABOUT</title>

    <!--BOOTSTRAP LIBRARY-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>

<body style="background-color: rgb(204, 153, 255)">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="UserHome">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="gotoAbout">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="goToHome">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ProfilePreview">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

     <h1>ABOUT PAGE</h1>
        <bh></bh>

        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus est vitae eleifend accumsan. Aenean elit neque, rutrum ut fringilla id, porttitor sit amet erat. Maecenas consequat magna quis risus posuere facilisis. Pellentesque venenatis, leo non tristique pulvinar, ipsum tortor pharetra augue, sit amet condimentum nibh velit in neque. In eleifend luctus elit, eu tempor ligula dapibus dapibus. In vestibulum tellus ligula, sit amet cursus elit faucibus quis. In volutpat lacus id rutrum laoreet. Fusce tempus odio sed mauris bibendum, et porta lacus rhoncus. Ut vehicula egestas odio, venenatis convallis odio mollis sed. Nulla at ex placerat ligula volutpat euismod. Morbi malesuada fringilla lorem, lacinia imperdiet orci molestie ac. Nulla maximus, enim ac pharetra malesuada, est lectus ullamcorper diam, vel auctor eros urna sit amet turpis. Etiam elit nunc, fringilla ut bibendum in, varius at neque. Mauris at cursus nulla.

            Phasellus eget finibus nisi, ac varius eros. Aliquam erat volutpat. Maecenas non est pretium, varius magna in, posuere nunc. Suspendisse sapien purus, imperdiet ut sem sed, dapibus aliquam sapien. Morbi dignissim dapibus aliquet. Cras eros nulla, fermentum eu tincidunt tincidunt, dictum in tellus. Praesent scelerisque orci a imperdiet viverra. Integer porttitor blandit lacus molestie semper.

            Nullam et mi nec lectus ornare pellentesque. Pellentesque fermentum eleifend nisl, vitae commodo erat bibendum sit amet. Cras tincidunt lacus at pharetra mollis. Donec faucibus eget enim vitae pulvinar. Nullam tempor magna consequat felis semper efficitur. Sed non posuere turpis, nec vestibulum lectus. Nunc euismod, tellus ut congue pharetra, metus leo venenatis nibh, nec dignissim mauris quam sed ex. Nunc ullamcorper bibendum laoreet. Aenean convallis libero vitae pretium facilisis. Praesent pretium quam a tincidunt mollis. Nulla varius ultricies finibus. Etiam dapibus eget orci ac bibendum. Nulla sed libero sit amet turpis molestie hendrerit vitae tristique est.

            Ut fermentum lectus quis bibendum ullamcorper. Sed pretium purus magna, non porttitor leo congue nec. Nullam vel ultricies ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla fringilla elit massa, quis convallis tellus auctor eu. Proin sagittis ornare hendrerit. Suspendisse eu ipsum ac libero rutrum auctor non nec massa. Nam eget arcu velit. Praesent interdum nunc sit amet lectus maximus, vitae ornare tortor sagittis. Aliquam blandit magna sit amet tincidunt pellentesque. Vestibulum ac dolor rutrum, pharetra odio vulputate, dignissim justo. Vivamus eget velit faucibus lacus porttitor condimentum. Nam mauris felis, rutrum quis tortor vel, venenatis faucibus magna. Quisque ut odio dapibus ligula congue ullamcorper pellentesque at mauris. Nam turpis nibh, lacinia vel blandit quis, tincidunt eu mauris.

            In hac habitasse platea dictumst. Mauris dapibus urna nisl. Nullam luctus eget mauris nec fringilla. Fusce egestas eu elit ut vehicula. Ut mattis lorem quis ligula condimentum convallis. Sed sed justo at ex vestibulum viverra. Integer id risus a sem consectetur congue ullamcorper in elit. Mauris quis suscipit arcu. Vestibulum vel quam ex. Sed malesuada, tellus sed eleifend porttitor, purus orci placerat ex, id dictum tellus libero et urna. In arcu nisl, ornare quis pellentesque eget, pharetra a ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras finibus enim ut sapien ultrices sagittis. Maecenas dapibus quam augue, vitae tincidunt sem condimentum vel. In ex eros, consequat et venenatis imperdiet, lobortis in orci. Nunc porta condimentum ultrices.
        </div>
            
</body>

</html>